body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.logout-btn {
  background-color: yellow;
  height: 50px;
  margin-top: 8px;
  width: 100px;
  border-radius: 20px;
  appearance: none;
  border: 0px;
}
.cart {
  width: 150px;
}
.btn-square {
  margin-left: 59px;
}
.fvrt-active {
  color: #f3f5f7;
  background-color: #d82323;
  height: 39px;
  width: 50px;
  border: 0px;
  border-color: #ffffff;
}
.select-op {
  height: 39px;
  border: 0px;
  text-align: center;
}
.fav-btn {
  /* margin-left: 120px; */
  height: 38px;
  border: 0px;
  width: 40px;
}
.admin-nav {
  background-color: #0b316c !important;
}
.test {
  justify-content: space-around;
}
.card_bottm {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}
